<% if @banks.any? %>
  <!-- Lógica para cuando hay bancos -->
  <% if notice %>
  <div class="notice"><%= notice %></div>
  <% end %>
  <h1><%=t('.title')%></h1>
  <ul>
    <% @banks.each do |bank| %>
      <li><%= link_to bank.name, bank %></li>
    <% end %>
  </ul>
<% else %>
  <!-- Lógica para cuando no hay bancos -->
  <p>No hay bancos en la base de datos.</p>
<% end %>

<%= link_to t('.add_bank'), new_bank_path %>

